<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        table {
            width: 600px;
            border: 2px solid red;
            text-align: center;
        }

        thead{
            background-color: aqua;
        }
    </style>

</head>
<body>

<div id="app">
    <p v-for="(score,index) in scores">
        {{index + ":"+ score}}
    </p>

    <p v-for="d in dog">
        {{d}}
    </p>

    <p v-for="n in name">
        {{n}}
    </p>

    <table>
        <thead>
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>性别</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="p in persons">
            <td>{{p.name}}</td>
            <td>{{p.age}}</td>
            <td>{{p.sex}}</td>
        </tr>
        </tbody>
    </table>

</div>

<script src="js/vue.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: {
            scores: [100, 90, 80, 70, 60, 50],
            dog: {
                name: 'wangwang',
                age: 12
            },
            name: 'zhangsan',
            persons: [
                {name: '张三', age: 12, sex: '男'},
                {name: '李四', age: 23, sex: '女'},
                {name: '王五', age: 43, sex: '女'},
                {name: '刘二', age: 22, sex: '男'}
            ]
        }
    });
</script>

</body>
</html>